# specific .gitignore for this directory

# ignore everything
*

# except the explaining README
!README
# and this .gitignore
!.gitignore

# do NOT ignore the static directory
!static
# but everything inside it
static/*
